<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Зельеварение</title>
</head>

<body>
    <div class="container" id="app">
        <div class="control">
            <div class="forAddPlayer" v-if="!isGameStarted">
                <input autofocus class="inputNamePlayer"
                       :disabled="listPlayers.length > 3" 
                       v-model="inputNameValue" 
                       @keypress.enter="addNewPlayer"
                />
                <button id="addPlayer" v-bind:disabled="listPlayers.length > 3" @click="addNewPlayer">Добавить игрока</button>
                <button v-bind:disabled="listPlayers.length < 2" id="startGame" @click="startGame">Начать игру</button>
            </div>

            <div v-else>
                <form class="forInputScore">
                    <h2>Ход игрока: <span class="headerNamePlayer">{{ playerTurn }}</span></h2>
                    <div v-for="option in scoreOptions">
                        <input type="radio" :id="'Score' + option" name="Score" :value="option" v-model="inputScore">
                        <label :for="'Score' + option">{{ option }}</label>
                    </div>
                    <h2>Добавить очки игроку:</h2>
                    <div v-for="(player, index) in listPlayers" :style="{ display: player === playerTurn ? 'none' : 'inline-block' }">
                        <input :disabled="isDisabledExtraScore" type="checkbox" :id="'Player' + (index + 1)" name="Players" :value="player">
                        <label :for="'Player' + (index + 1)">{{ player }}</label>
                    </div>
                </form>
                <button :disabled="inputScore === ''" id="apllyMove" @click="updateScore">Применить</button>
            </div>
        </div>

        <div v-for="(player, index) in listPlayers">
            <div class="players" :id="'pl' + (index + 1)">
                <div class="forNamePlayers">
                    <p class="namePlayers">{{ player }}</p>
                    <p class="totalScore">0</p>
                </div>
                <p class="scoreBoard"></p>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="static/js/appVue.js"></script>
</body>
</html>