body, html { 
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

button{
    margin: 20px 10px 20px 10px;
    width: 145px;
    height: 40px;
    border-radius: 10px;
}

button:hover{
    background: rgb(212, 212, 212);
}

button:active{
    background: rgb(214, 94, 94);
}

button:disabled{
    background: rgb(153, 153, 153);
}

.container{
    position: relative;
    width: 100%;
    min-height: 100%;
    background: rgb(248, 240, 184);
}

.control{
    min-height: 100px;
    width: 100%;
    background: rgb(68, 34, 34);
    text-align: center;
}

/* Панель управления */
.inputNamePlayer{
    height: 20px;
    width: 140px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin: 33px 10px 0 0;
}

.forInputScore{
    color: rgb(127, 255, 176);
}

.forInputScore>h2{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 15px 0;
}

.forInputScore>div>input{
    display: none;
}

.forInputScore>div>input:checked + label {
    border: 1px solid red;
}

.forInputScore>div{
    display: inline-block;
}

.forInputScore>div>label{
    margin: 0 10px 0 0;
    border: 1px solid;
    border-color: transparent;
    border-radius: 10px;
    padding: 7px 15px 7px 15px;
    cursor: pointer;
}

.forInputScore>div>label:hover{
    background: rgb(134, 69, 69);
}

.forInputScore>div>input:disabled + label{
    color: rgb(177, 177, 177);
}

.forInputScore>div>input:disabled + label:hover{
    background: transparent;
    cursor: default;
}

/* Поле очков */
.players{
    display: flex;
    width: 98%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-inline: auto;
}

#pl1{
    background: rgba(255, 106, 106, 0.3)
}

#pl2{
    background: rgba(123, 255, 106, 0.3)
}

#pl3{
    background: rgba(106, 128, 255, 0.3)
}

#pl4{
    background: rgba(255, 253, 106, 0.3)
}

.forNamePlayers{
    width: 150px;
    min-width: 150px;
    border-right: 2px solid black;
    text-align: center;
    padding: 0 0 20px 0;
}

.namePlayers{
    font-weight: bold;
    padding: 20px 0 0 0;
}

.totalScore{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}

#pl1 .namePlayers{
    color: red;
}

#pl2 .namePlayers{
    color: green;
}

#pl3 .namePlayers{
    color: blue;
}

#pl4 .namePlayers{
    color: rgb(214, 200, 4);
}

.scoreBoard{
    padding: 10px 10px 0 10px;
    line-height: 1.5;
}

@media (max-width: 700px) {
    .forInputScore>label{
        margin: 0;
    }

    .players{
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .forNamePlayers{
        width: 100%;
        margin: 0;
        border: none;
    }

    .players:hover>.scoreBoard{
        display: block;
        border-top: 1px solid black;
        
    }

    .scoreBoard {
        display: none;
        margin: 0 0 5px 0;
    }
}